/* chat-section css start */
.chat-section {
    border-bottom: 1px solid;
    border-image-source: linear-gradient(270deg, #111111 59.97%, rgba(255, 255, 255, 0.6) 100%);
    border-image-slice: 1;
    background-color: #030202;
}

.section.chat-section {
    padding-bottom: 20px;
}

.chat-section .section-heading-wrapper {
    margin: 0;
}

/* chat-section css end */