/* product-feature-section css start */
.product-feature-table-area {
    padding: 100px 50px;
    background: linear-gradient(132.4deg, rgba(255, 255, 255, 0) 1.31%, rgba(255, 255, 255, 0.05) 50.4%, rgba(255, 255, 255, 0) 99.48%);
    border: 1px solid;
    border-image-source: linear-gradient(119.32deg, #FFFFFF -5.64%, rgba(255, 255, 255, 0) 24.05%), linear-gradient(294.85deg, #FFFFFF -4.68%, rgba(255, 255, 255, 0) 19.82%);
    backdrop-filter: blur(11.72485637664795px);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product-feature-table {
    width: 100%;
}

.product-feature-table th,
.product-feature-table td {
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    color: var(--white);
    text-align: left;
    padding: 26px;
}

.product-feature-table tr:last-child td{
    border-bottom: 0;
}

.product-feature-table th {
    font-size: 32px;
    font-weight: 400;
}

.table-heading-text {
    margin: 32px 0 0 0;
    text-transform: capitalize;
}

.product-feature-table td {
    font-size: 22px;
    font-weight: 300;
    color: var(--text-muted3);
}

/* product-feature-section css end */