/* product-details-section css start */
.product-details-section {
    position: relative;
    overflow: hidden;
}

.product-details-section .section-left-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.product-details-section .section-right-bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.section-heading-wrapper.mobile-section-heading {
    display: none;
}

.product-details-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.product-details-content {
    width: 66%;
}

.product-details-content .section-heading-wrapper {
    text-align: left;
}

.product-details-content .section-heading-wrapper .section-heading-text {
    margin-left: 0;
    max-width: 650px;
}

.product-details-list li {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color2);
    display: flex;
    align-items: center;
    gap: 24px;
}

.product-details-list li:first-child {
    padding-top: 0;
}

.product-details-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.product-details-title {
    width: 40%;
    text-transform: capitalize;
}

.product-details-text {
    width: 60%;
}

.product-details-title,
.product-details-text {
    color: var(--text-muted3);
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.product-details-img {
    width: 34%;
}

/* product-details-section css end */

@media only screen and (max-width: 767px) {
    /* product-details-section css start */

    .section-heading-wrapper.mobile-section-heading {
        display: block;
    }

    .product-details-content .section-heading-wrapper {
        display: none;
    }

    .product-details-wrapper {
        gap: 50px;
        flex-direction: column-reverse;
    }

    .product-details-content {
        width: 100%;
    }

    .product-details-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        position: relative;
    }

    .product-details-list::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: var(--border-color2);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .product-details-list li {
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
    }

    .product-details-list li:last-child {
        border-bottom: 1px solid var(--border-color2);
    }

    .product-details-title {
        width: 100%;
    }

    .product-details-text {
        width: 100%;
    }

    .product-details-section .section-left-bg {
        display: none;
    }

    .product-details-section .section-right-bg {
        display: none;
    }

    /* product-details-section css end */
}