/* product section css start */
.product-section {
    border-bottom: 1px solid;
    border-image-source: linear-gradient(107deg, #111111 59.97%, rgba(255, 255, 255, 0.6) 100%);
    border-image-slice: 1;
}

.section.product-section {
    padding-top: 40px;
}

.product-page-content-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-slider-area {
    width: 55%;
    position: sticky;
    height: fit-content;
    top: 140px;
}

.swiper.product-slider-thumb {
    margin: 20px 0 0 0;
    height: 100px;
}

.swiper.product-slider {
    width: 100%;
    border-radius: 8px;
}

.product-slider-thumb .swiper-slide {
    cursor: pointer;
    position: relative;
    opacity: 0.7;
    transition: all ease .3s;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.product-slider-thumb .swiper-slide::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid var(--brand-color);
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
    z-index: 1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.product-slider-thumb .swiper-slide.swiper-slide-thumb-active::before {
    opacity: 1;
    visibility: visible;
}

.product-slider-thumb .swiper-slide:hover::before {
    opacity: 1;
    visibility: visible;
}

.product-slider-thumb .swiper-slide.swiper-slide-thumb-active {
    opacity: 1;
}

.product-slider-img {
    height: 100%;
    background-color: var(--card-bg);
}

.product-content-area {
    width: 40%;
}

.product-rattings {
    margin: 0 0 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-rattings .icon {
    display: flex;
}

.product-rattings p {
    color: var(--brand-color);
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
}

.product-title {
    text-transform: capitalize;
    font-weight: 400;
    color: var(--section-heading-color);
}

.product-text {
    margin: 20px 0 0 0;
    color: var(--text-muted2);
}

.product-price-wrap {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

.latest-price {
    font-weight: 400;
    color: var(--brand-color);
    font-size: 36px;
}

.previous-price {
    font-weight: 300;
    opacity: 0.5;
    font-size: 36px;
    position: relative;
}

.previous-price::before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 50%;
    left: -8px;
    width: 120%;
    height: 2px;
    background-color: var(--text-muted2);
    transform: rotate(345deg) translateY(-50%);
}

.latest-price,
.previous-price {
    display: flex;
}

.latest-price span,
.previous-price span {
    font-size: 22px;
    display: flex;
}

.shipping-info {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shipping-info p a {
    color: var(--paragraph-text-color);
    text-decoration: underline;
}

.shipping-info .icon {
    display: flex;
}

.product-badge {
    position: relative;
    margin: 20px 0 0 0;
    padding: 10px 10px 10px 20px;
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(214.06deg, rgba(255, 255, 255, 0) 11.58%, rgba(255, 255, 255, 0.05) 53.91%, rgba(255, 255, 255, 0) 96.25%);
    backdrop-filter: blur(11.72485637664795px);
}

.product-badge-border {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 0.67px;
    background: linear-gradient(169deg, rgba(255, 255, 255, 0.7) 5.52%, rgba(255, 255, 255, 0) 33.55%), linear-gradient(344deg, rgba(255, 255, 255, 0.7) 4.26%, rgba(255, 255, 255, 0) 14.8%);
    -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1;
    opacity: 0.6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.product-badge .blink-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--brand-color);
    border-radius: 50%;
    transition: all 200ms;
    position: relative;
}

.product-badge .blink-icon::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background: var(--brand-color);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    }
}

.product-badge p {
    text-transform: capitalize;
}

.product-btn-area {
    margin: 20px 0 0 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-quantity {
    width: 35%;
    border: 1px solid var(--border-color);
    display: inline-flex;
    align-items: center;
    height: 56px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.quantity-decrease,
.quantity-increase {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--btn-color);
    height: 100%;
    padding: 0px 20px;
    transition: ease .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-decrease {
    border-right: 1px solid var(--border-color);
}

.quantity-increase {
    border-left: 1px solid var(--border-color);
}

.quantity-decrease:hover svg path,
.quantity-increase:hover svg path {
    fill: var(--brand-color);
}

.quantity-total {
    text-align: center;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.add-to-card-btn {
    width: 65%;
}

.add-to-card-btn .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 10px;
}

.product-payment-img {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

.product-accordion {
    margin: 20px 0 0 0;
}

.product-accordion .faq-accordion-item {
    margin: 0 0 20px 0;
    padding: 16px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.product-accordion .faq-accordion-item .faq-accordion-item-border {
    border-radius: 8px;
}

.product-accordion .faq-accordion-item .item-title-wrapper .item-title {
    font-size: 16px;
}

.product-accordion .faq-accordion-item .item-title-wrapper .icon svg {
    width: 14px;
    height: 12px;
}

.product-accordion .faq-accordion-item-content {
    padding: 10px 0 0 0;
    max-width: 470px;
}

.product-accordion .faq-accordion-content-text {
    font-size: 14px;
}

.product-icon-item-area {
    margin: 20px 0 0 0;
}

.icon-items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.icon-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    padding: 0 5px 0 0;
}

.icon-item::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
}

.icon-item-img {
    display: flex;
}

.icon-item-title {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.icon-item:last-child::before {
    display: none;
}

/* product section css end */

@media only screen and (max-width: 1360px) {

    /* product section css start */
    .product-content-area {
        width: 35%;
    }

    /* product section css end */

}

@media (min-width:993px) and (max-width: 1035px) {

    /* product section css start */
    .product-slider-area {
        width: 62%;
    }

    .product-content-area {
        width: 38%;
    }

    /* product section css end */

}

@media only screen and (max-width: 992px) {

    /* product section css start */
    .product-page-content-wrap {
        flex-direction: column;
    }

    .product-slider-area {
        width: 100%;
        position: unset;
    }

    .product-content-area {
        width: 100%;
    }

    .product-quantity {
        height: 50px;
    }

    /* product section css end */

}

@media only screen and (max-width: 767px) {

    /* product section css start */

    .section.product-section {
        padding-top: 20px;
    }

    /* product section css end */
}

@media only screen and (max-width: 575px) {

    /* product section css start */
    .swiper.product-slider-thumb {
        margin: 10px 0 0 0;
    }

    .swiper.product-slider-thumb {
        height: 80px;
    }

    .product-title {
        font-weight: 400;
    }

    .product-price-wrap {
        margin: 10px 0 0 0;
        gap: 20px;
    }

    .latest-price,
    .previous-price {
        font-size: 26px;
        line-height: 1;
    }

    .latest-price span,
    .previous-price span {
        font-size: 16px;
        display: flex;
    }

    .previous-price::before {
        left: -6px;
    }

    .shipping-info {
        margin: 16px 0 0 0;
        gap: 8px;
    }

    .shipping-info p {
        font-weight: 300;
    }

    .product-badge {
        margin: 16px 0 0 0;
    }

    .product-badge p {
        font-weight: 300;
    }

    .product-text {
        margin: 16px 0 0 0;
        font-size: 14px;
        line-height: 20px;
    }

    .product-btn-area {
        margin: 20px 0 0 0;
        gap: 10px;
        flex-wrap: wrap;
    }

    .product-quantity {
        width: 100%;
    }

    .add-to-card-btn {
        width: 100%;
    }

    .icon-item {
        flex-direction: column;
    }

    .icon-item-content {
        text-align: center;
    }

    /* product section css end */

}